<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Sshoe Mania</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="customers" class="nav-link" aria-current="page" href="/">Customers</a>
        </li>
        <li class="nav-item">
          <a id="orders" class="nav-link active" href="/orders">Orders</a>
        </li>
        <li class="nav-item">
          <a id="paymentMethods" class="nav-link" href="/paymentMethods">Payment Methods</a>
        </li>
        <li class="nav-item">
          <a id="products" class="nav-link" href="/products">Products</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="" style=" margin-left: 50px; margin-top: 50px;">
  <h1>Orders</h1>
  <p style=" margin-bottom: 40px;">This section allows you to <b>insert</b> a new order into the database, <b>delete</b>
    a order from the database, and <b>select all</b> orders.</p>
  <table>
    <tr>
      <td>
        <div class="row justify-content-center">
          <form class="" action="index.html" method="post" autocomplete="off">
            <div class="form-group">
              <legend>Create New Order</legend>
              <label>Order Date</label>
              <input type="date" name="payment_type" class="form-control" value="" placeholder="MM/DD/YYYY" size="40"
                id="order_date">
            </div>
            <div class="form-group">
              <label>Total Price</label>
              <input type="text" name="Credit_card_name" class="form-control" value="" placeholder="000.00"
                id="total_price">
            </div>
            <br>
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Customer
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">John Smith</a>
                <a class="dropdown-item" href="#">Bill Jones</a>
                <a class="dropdown-item" href="#">Emily World</a>
              </div>
            </div>
            <br>
            <br>
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Insert Product (ID)
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">New Balance 992 Joe Freshgoods</a>
                <a class="dropdown-item" href="#">Air Jordans 13 Retro Flint<</a>
                <a class="dropdown-item" href="#">New Balance 340</a>
              </div>
          </div>
            <br>
            <br>
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Select Payment ID
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
              </div>

            <br>
            <br>




            <div class="form-group">

              <br>
              <div class="form-group" "form-action-buttons">
                <button type="button" class="btn btn-primary" name="Submit" id="button1">Submit</button>
              </div>
          </form>
        </div>
        <br>
        <button class="btn-primary">View all Orders</button>
      </td>
      <td style="padding-bottom: 1px;">
        <table class="table table-hover" style=" margin-left: 150px; margin-bottom: 325px;">
          <thead>
            <tr>
              <th>Order Id #</th>
              <th>Customer Name</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Order Date</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>John Smith</td>
              <td>Air Jordans 13 Retro Flint</td>
              <td>1</td>
              <td>05/01/2021</td>
              <td>$286.99</td>
              <td>
                <button type="button" class="btn btn-primary" name="Update" id="button1">Update</button>
                <button type="button" class="btn btn-primary" name="Delete" id="button1">Delete</button>
              </td>
            </tr>
            <tr>
              <th>2</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-primary" name="Update" id="button1">Update</button>
                <button type="button" class="btn btn-primary" name="Delete" id="button1">Delete</button>
              </td>
            </tr>
            <tr>
              <th>3</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-primary" name="Update" id="button1">Update</button>
                <button type="button" class="btn btn-primary" name="Delete" id="button1">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
  <div class="container h-100">
       <div class="d-flex justify-content-center h-100">
         <div class="searchbar">
           <input id ="customer_search" class="search_input" type="text" name="" placeholder="Search Order Database by Order Id#...">
           <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
         </div>
       </div>
     </div>
