#product_table, #product_form, .title {
    margin: 25px;
    width: 65%;
}

.table-headers {
  border: 3px solid black;
  text-align: center;
}

/* #product_table {
    border: 3px solid black;
    text-align: center;
} */
